@charset "utf-8";

/* RESET STYLES */
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	font,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}
	
	body{
		line-height: 1;
	}
	
	ol, ul{
		list-style: none;
	}
	
	blockquote, q{
		quotes: none;
	}
	
	blockquote:before,
	blockquote:after,
	q:before,
	q:after{
		content: '';
		content: none;
	}

	:focus {
		outline: 0;
	}

	ins{
		text-decoration: none;
	}
	del{
		text-decoration: line-through;
	}

	table{
		border-collapse: collapse;
		border-spacing: 0;
	}

/* DIV TABLES */
	.divTable{
		display: table;
		border-collapse: collapse;
	}
	
	.divTableRow{
		display: table-row;	
	}
	
	.divTableCell{
		display: table-cell;
		vertical-align: top;
	}
	
/* OPACITY SHORTCUTS */
	.opac10{
		opacity:0.1;
		filter:alpha(opacity=10); 
	}
	
	.opac20{
		opacity:0.2;
		filter:alpha(opacity=20); 
	}
	
	.opac30{
		opacity:0.3;
		filter:alpha(opacity=30); 
	}
	
	.opac40{
		opacity:0.4;
		filter:alpha(opacity=40); 
	}
	
	.opac50{
		opacity:0.5;
		filter:alpha(opacity=50); 
	}
	
	.opac60{
		opacity:0.6;
		filter:alpha(opacity=60); 
	}
	
	.opac70{
		opacity:0.7;
		filter:alpha(opacity=70); 
	}
	
	.opac80{
		opacity:0.8;
		filter:alpha(opacity=80); 
	}
	
	.opac90{
		opacity:0.9;
		filter:alpha(opacity=90); 
	}
	
/* ROUNDING SHORTCUTS */
	.round2{
		-moz-border-radius: 2px;
 		-webkit-border-radius: 2px;
		border-radius: 2px;	
	}
	
	.round4{
		-moz-border-radius: 4px;
 		-webkit-border-radius: 4px;
		border-radius: 4px;	
	}
	
	.round6{
		-moz-border-radius: 6px;
 		-webkit-border-radius: 6px;
		border-radius: 6px;	
	}
	
	.round8{
		-moz-border-radius: 8px;
 		-webkit-border-radius: 8px;
		border-radius: 8px;	
	}
	
	.round10{
		-moz-border-radius: 10px;
 		-webkit-border-radius: 10px;
		border-radius: 10px;	
	}
	
	.round14{
		-moz-border-radius: 14px;
 		-webkit-border-radius: 14px;
		border-radius: 14px;	
	}
	
	.round20{
		-moz-border-radius: 20px;
 		-webkit-border-radius: 20px;
		border-radius: 20px;	
	}
	
/* DROP SHADOW SHORTCUTS */
	.dropshadowdark{
		-moz-box-shadow: 1px 1px 4px #333; 
		-webkit-box-shadow: 1px 1px 4px #333;     
		box-shadow: 1px 1px 4px #333;
		/* For IE 8 */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333')";   
		/* For IE 5.5 - 7 */     
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333'); 
	}
	
	.dropshadowlight{
		-moz-box-shadow: 1px 1px 4px #CCC; 
		-webkit-box-shadow: 1px 1px 4px #CCC;     
		box-shadow: 1px 1px 4px #CCC;
		/* For IE 8 */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCC')";   
		/* For IE 5.5 - 7 */     
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCC'); 
	}

/* INSTALLER CSS */
	
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		background-image: url(./images/background.gif);
		background-repeat: repeat;
		background-color: #CCC;
		margin: 0;
		color: #333;
	}
	
	a{
		color: #1973cc;
		text-decoration:none;
	}
	
	a:hover{
		text-decoration:underline;
	}
	
	#container{
		width: 100%;	
	}
	
	#content > p{
		margin-bottom: 20px;
		line-height: 1.3;
	}
	
	#content .divTable{
		width: 100%;
		margin-bottom: 10px;
	}
	
	#content .tableForm{
		border: 1px solid #EEE;
	}
	
	#content .tableForm .divTableCell{
		padding: 10px;
		vertical-align: middle;
	}
	
	#content h2{
		padding: 10px 14px 10px 14px;
		color: #FFF;
	}
	
	.prodLogo{
		width: 25px;
	}
	
	.headerIcons{
		position: absolute;
		right: 0;
		margin: 5px 5px 0 0;
	}
	
	h1{
		
		font-weight: bold;
		font-size: 14px;
		float: left;
	}
	
	.stepOn{
		margin: 20px 0 0 0;
		color: #333;
		background-color: #FFF;
		border-left: 1px solid #b8b7b7;
		padding: 10px 20px 11px 20px;
	}
	
	.stepOff{
		margin: 20px 0 0 0;
		color: #999;
		background-color: #CCC;
		border-left: 1px solid #b8b7b7;
		border-bottom: 1px solid #b8b7b7;
		padding: 10px 20px 10px 20px;
	}
	
	#formBackButton{
		float: left;	
	}
	
	.warnings{
		margin-bottom: 10px;
		background-color: #f9e6d1;
		clear: both;
	}
	
	.warnings li{
		padding: 10px 10px 10px 0;
		margin-left: 30px;
		list-style-type: square;
		list-style-position: outside;
		line-height: 1.3;
		color: #ca6e0b;
	}
	
	.goodInfoBox{
		margin-bottom: 10px;
		padding-bottom: 10px;
		background-color: #ecffed;
		clear: both;
		line-height: 1.3;
	}
	
	.goodInfoBox li{
		padding: 5px 10px 5px 0;
		line-height: 1.3;
	}
	
	.goodInfoBox h2{
		background-color: #060;
	}
	
	.fatalErrors{
		margin-bottom: 10px;
		background-color: #fce9e9;
		clear: both;
		line-height: 1.3;
		color: #900;
	}
	
	.fatalErrors li{
		padding: 10px 10px 10px 0;
		margin-left: 30px;
		list-style-type: square;
		list-style-position: outside;
		line-height: 1.3;
		color: #900;
	}
	
	#content .tableForm .divTableRow:nth-child(odd){
		background-color: #EEE;
	}
	
	#content .serverInfo .divTableCell:first-child{
		font-weight: bold;
		width: 500px;
	}
	
	.checkOK,.checkFailed,.checkLow{
		color: #FFF;
		padding: 4px 8px 4px 8px;
	}
	
	.checkOK{
		background-color: #060;
	}
	
	.checkFailed{
		background-color: #900;
	}
	
	.checkLow{
		background-color: #F90;
	}
	
	#content .serverInfo .divTableCell:first-child img{
		float: left;
		margin: 0 4px 0 0;
		border: 0px;
	}
	
	#content .serverInfo .divTableCell:nth-child(2){
		font-weight: bold;
		width: 100px;
		text-align: center;
	}
	
	#content .serverInfo .divTableCell:last-child{
		font-weight: bold;
		width: 100px;
		text-align: center;
	}
	
	#content .serverInfo .divTableCell:last-child > p{
		-moz-border-radius:4px;
		-webkit-border-radius4px;
		border-radius:4px;
		font-size: 11px;
	}
	
	#content{
		margin: 20px 20px 0 20px;
		background-color: #FFF;
		padding: 20px 20px 5px 20px;
		clear: both;
	}	
	
	.buttonRow{
		text-align: right;	
	}
	
	#installerBox{
		margin: 100px auto 100px auto;
		width:710px;
		text-align:left;
		-moz-box-shadow: 0 0 8px #191919; 
		-webkit-box-shadow: 0 0 8px #191919;     
		box-shadow: 0 0 8px #191919;
		background-color: #333;
		border-left: 1px solid #535353;
		border-right: 1px solid #000;
		border-top: 1px solid #535353;
		border-bottom: 1px solid #000;
		position: relative;
	}
	
	input[type="button"], input[type="submit"]{
		vertical-align:middle;
		height: 26px;
		font-size:11px;
		text-align:center;
		color:#333;
		border-top:1px solid #eee;
		border-right:1px solid #BBB;
		border-bottom:1px solid #BBB;
		border-left:1px solid #eee;
		background-image: url(./images/button.bg.off.gif);
		background-repeat: repeat-x;
		cursor: pointer;
		/*
		-moz-border-radius: 4px;
  		-webkit-border-radius: 4px;
		border-radius: 4px;
		*/
	}
		
	input[type="button"]:hover,  input[type="submit"]:hover{
		background-image: url(./images/button.bg.on.gif);
		background-repeat: repeat-x;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		border-left: 1px solid #c5d2e8;
		border-top: 1px solid #c5d2e8;
		background-color: #fff;
	}
	
	input[type="button"]:disabled,  input[type="submit"]:disabled{
		color: #cacaca;
	}

	form{
		margin: 0;
	}
	
	.formLabel{
		font-weight: bold;
		vertical-align: top;
		text-align: left;
		width: 160px;
		padding-left: 0 !important;
	}
	
	.formQuestion{
		text-align: center;	
		width: 20px;
	}
	
	.infoTag{
		font-size: 10px;
		color: #999;
		font-weight: normal;
	}
	
	.addonsList{
	}
	
	.addonsList li{
		margin-bottom: 5px;
		padding-left: 25px;
		font-weight: bold;
	}
	
	#unzipOutput{
		margin-top: 4px;
		overflow: hidden;
		height: 16px;
		font-size: 10px;
	}
	
	#progressBarContainer{
		font-size: 10px;
		background-color: #dadada;
		position: relative;
		height: 16px;
	}
	
	#progressBarContainer p{
		position: absolute;
		color: #FFF;
		z-index: 999;
		padding: 2px 0 0 6px;
	}
	
	#progressBar{
		background-color: #006600;
		height: 16px;
		width: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.helpIcon{
		cursor: pointer;
	}
	
	#footer{
		clear: both;
		height: 52px;
		background-repeat: repeat-x;
		border-top: 0;
		padding: 10px 10px 0 20px;
		background-color: #333;
		background-position: bottom;
		background-image: url(./images/footer.gif);
		background-repeat: repeat-x;
		margin-top: 10px;
		color: #CCC;
		line-height: 1.3;
		font-size: 11px;
	}
	
	#footer a{
		color: #CCC;
		text-decoration:none;
	}
	
	#footer a:hover{
		color: #EEE;
		text-decoration:underline;
	}
	
	#footer img{
		margin: -3px 6px 0 -3px;	
		float: left;
		border: 0;
	}